.the-title {
    margin-top: 35px;
    text-align: center;
    color: whitesmoke;
    text-transform: capitalize;
}

.avatar-main {
    display: grid;
    place-content: center;
    width: 100%;
}

.avatar-container {
    width: 90%;
    /* height: 100%; */
    margin: 35px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.id-cards-container {
    width: 465px;
    height: 400px;
    border-radius: 5%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    opacity: .8;
    position: relative;
}

@media (width <=800px) {
    .footer-top {
        font-size: 10px;
    }

    .the-title {
        font-size: 30px;
    }

    .id-cards-container {
        width: 325px;
        height: 450px;
    }

    .picture-of-participants {
        width: 100px;
        height: 100px;
    }

    .app-cards {
        width: 350px;
        height: 500px;
    }
}

.avatar-icons {
    position: absolute;
    bottom: 0;
}

.picture-of-participants {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.id-cards-container ul {
    display: flex;
    justify-content: center;
    /* margin-left: 1em; */
}

.id-cards-container ul li {
    list-style: none;
}

.fa-brands {
    color: gray;
    vertical-align: bottom;
    margin: 5px;
    size: 50rem;
}

.fa-brands:hover {
    font-size: 30px;
    color: black;
}

.container-app {
    height: auto;
    /* width: 1200px; */
    display: flex;
    /* padding: 40px; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}

.avatar-sec-two {
    width: 100%;
}

.apps {
    margin: 3em;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
}

.app-cards {
    background-color: whitesmoke;
    opacity: .7;
    border-radius: 10px;
    width: 350px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.app-image {
    width: 15em;
    height: 15em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.readmore-bttn {
    width: 8em;
    height: 2em;
    background-color: rgb(158, 108, 107);
    border-radius: 5px;
    text-align: center;
    align-content: center;
}

.readmore-bttn:hover {
    width: 8.5em;
    height: 2.5em;
    color: whitesmoke;
    background-color: green;
    box-shadow: 0 10px 15px darkgrey;
}

.readmore-bttn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.text-bttn {
    text-align: center;
    padding: 5px;
}

.text-bttn>h2 {
    margin: 10px;
}